@import url(https://fonts.google.com/share?selection.family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000|Nunito:ital,wght@0,200..1000;1,200..1000|Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    color:white;
    background-color:grey;
    min-height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    background-image: url(PHOTOS/coding6.avif);
    background-repeat: no-repeat;
    background-size: cover;
    
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding:7px 8%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    overflow: auto;

}

.logo{
    position:relative;
    font-size: 50px;
    color:darkmagenta;
    text-decoration: none;
    font-weight: 600;
    cursor: pointer;
    opacity: 1;
    animation: slideRight 1s ease forwards;
    font-style: italic ;
    
}
.navbar a{
    display:inline-block;
    font-size: 32px;
    font-style: italic;
    color:darkmagenta;
    text-decoration: none;
    font-weight: 600;
    margin-right: 22px;
    transition: .3s;
    opacity: 0;
    animation: slideTop .8s ease forwards;
    text-align: center;
    padding: 7px 5px 7px;
        
}

.navbar a:hover{
    color:darkblue;
    box-shadow: 8px 7px 20px darkred;
    
}


.home {
    position:relative;
    background-image: url(PHOTOS/pic2.png);
    width:100%;
    justify-content: space-between;
    height: 80vh;
    background-size: contain;
    background-position:center;
    display: flex;
    justify-content: space-between;
    align-items:center;
    left: 300px;
    padding: 50px 5% 0;
    background-repeat: no-repeat;
    top: 140px;
    right: 180px;
    margin-right: 50rem;

    
    


}


.homecontent{
    max-width: 600px;
    margin-bottom: 60px;
    margin-right: 100px;
    

}
.homecontent h3 span{
    color:darkblue;

}

.homecontent h3{
    font-size: 33px;
    font-weight: 500;
    font-style: italic;
    margin-bottom: 10px;
    opacity: 0;
    animation: slideBottom 1s ease forwards;
    cursor: pointer;
    
}
.homecontent h3:nth-of-type(2){
    margin-bottom: 20px;
}

.homecontent h1{
    font-size: 50px;
    font-weight: 700;
    margin: -3px 0;
    margin-bottom: 5px;

}
.homecontent p{
    font-size: 20px;
    animation:slidetop 2s ease forwards;
    opacity: 0;
    animation-delay: 2s;
    margin-bottom: 10px;
    font-style: italic;
    
}
.home-sci a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 40px;
    background: transparent;
    border: 2px solid white;
    border-radius: 50%;
    font-size: 28px;
    color:pink;
    text-decoration: none;
    margin: 18px 20px 30px 0;
    opacity: 0;
    animation: slideRight 2s ease forwards;

}
.home-sci a:hover{
        background:pink;
        color:darkorchid;
        box-shadow: 0 0 20px pink;
}

.btn-box{
    text-decoration: none;
    font-size: 20px;
    color:white;
    background-color:darkmagenta;
    display: inline-block;
    border:2px solid darkmagenta;
    border-radius: 15px;
    width:160px;
    height: 40px;
    text-align: center;
    padding: 6px 10px;
    box-shadow: 0 0 20px darkorchid;
    cursor: pointer;
    

}
.btn-box:hover{
    box-shadow: 0 0 15px pink, 0 0 10px violet, 0 0 5px darkmagenta;
    cursor: pointer;
}

@keyframes slideRight {
    0%{
        transform: translateX(-100px);
        opacity: 0;
    }
    100%{
        transform: translateX(0px);
        opacity: 1;
    }
}
@keyframes slideTop {
    0%{
        transform: translateY(100px);
        opacity: 0;
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}
@keyframes slideBottom {
    0%{
        transform: translateX(100px);
        opacity: 0;
    }
    100%{
        transform: translateX(0px);
        opacity: 1;
    }
}
@keyframes slidetop {
    0%{
        transform: translateZ(100px);
        opacity: 0;
    }
    100%{
        transform: translateZ(0px);
        opacity: 1;
    }
}
@keyframes slideRight {
    0%{
        transform: translateZ(100px);
        opacity: 0;
    }
    100%{
        transform: translateZ(0px);
        opacity: 1;
    }
}

.about{
    display:grid;
     grid-template-columns: repeat(2 ,2fr);
     align-items: center;
     gap: 1.2rem;
     position: relative;
     margin-top: 80px;
     
     
     
}
.about-img{
    margin-top:10%;
    margin-left: 50px;

    
}
.about-img .pic{
    padding-bottom:15%;
    max-width: 600px;
    height: auto;
    width: 100%;
    border-radius: 10%;
    margin-top:90px;
    

    
}

.about-text{
    margin-top: 40px;
    margin-right: 60px;
}
.about-text h1{
    font-size: 40px;
    color:darkmagenta;
    margin-right: 40px;
}
.about-text span{
    color:white ;
}
.about-text h3{
    font-size: 35px;
    font-style: italic;
    color:darkred;
    line-height: 1.5;
    margin: 5px 0 8px;

}
.about-text p{
      color:lightblue;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 20px;
      line-height: 1.3;
      word-spacing: 3px;
      margin-bottom: 1rem;
      text-align: justify;
      margin-right: 40px;
}
.container{
    width: 100%;
    min-height: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 10%;
    margin-bottom:100px;
}
.tittle{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    color:darkblue;
    padding: 0px 0px 20px 20px;
    animation: slideRight 2s ease forwards;
    font-weight: bolder;
    font-style: italic;
}
@keyframes slideRight {
    0%{
        transform: translateX(-90px);
        opacity: 1;
    }
    100%{
        transform: translateX(0px);
        opacity: 1;
    }
}

.contents{
    padding: 0px 30px;
    border-left: 2px solid darkorchid;
    

}
.box{
    position: relative;
    padding: 20px;
    border: 3px solid darkorchid;
    cursor: pointer;
    margin-bottom: 20px;
    transition: all 0.4s;
    box-shadow: 10px 10px 10px darkorchid;



}
.box:hover{
    box-shadow: 0 0 15px darkmagenta, 0 0 15px darkmagenta, 0 0 15px darkmagenta;
    border: 3px solid transparent;
    border-radius: 10px;
}
.box::before{
    content: '';
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    right: calc(100% + 22px);
    top: 0;
    background-color: darkorchid;
    border: 2px solid white;
    font-weight: 600;

}
.box h4{
    font-size: 25px;
    color: red;
    font-family: helvetica;
}
.box h3{
    font-size: 25px;
    color: blue;
    text-transform: uppercase;
}
.box p{
    font-size: 20px;
    line-height: 1.4;
}
.skills{
    width: 650px;
    margin: 15px auto;
    padding: 18px;
    box-shadow: 0 14px 28px rgba(0,0,0,25), 0 10px 10px rgba(0,0,0,25);

}
.skills:hover{
    box-shadow: 0 10px 15px darkmagenta, 0 10px 15px darkmagenta, 0 10px 15px darkmagenta;
}
.skills h1{
    text-align: center;
    font-size: 35px;
    color: darkred;
}
h3{
    margin: 8px;
    font-size: 25px;
    color: darkmagenta;
}
.skills ul{
    margin: 10px 0;
    padding: 10px;
}

.bar{
    display: block;
    background: blueviolet;
    height: 22px;
    border: 1px solid black;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(0.25,0.8,0.25,1);


}
.bar:hover{
    box-shadow: 0px 14px 28px rgba(0, 0, 0, 0.12),0 10px 10px rgba(0,0,0,0.22);
}
.bar span{
    height: 22px;
    float: left;
    background: linear-gradient(135deg, rgba(236,0,140,1)0%,rgba(252,103,103,1)100%);

}
.html{
    width: 90%;
    animation: html 3s;
}
.css{
    width: 80%;
    animation: html 3s;
}
.js{
    width: 91%;
    animation: html 3s;
}
.react{
    width: 86%;
    animation: html 3s;
}
.python{
    width: 79%;
    animation: html 3s;
}
.sql{
    width: 70%;
    animation: html 3s;
}
@keyframes html{
    0%{
        width: 0;
    }
    100%{
        width: 90%;
    }
}
@keyframes css{
    0%{
        width: 0;
    }
    100%{
        width: 80%;
    }
}
@keyframes js{
    0%{
        width: 0;
    }
    100%{
        width: 91%;
    }
}
@keyframes react{
    0%{
        width: 0;
    }
    100%{
        width: 86%;
    }
}
@keyframes python{
    0%{
        width: 0;
    }
    100%{
        width: 79%;
    }
}
@keyframes sql{
    0%{
        width: 0;
    }
    100%{
        width: 70%;
    }
}
.services{
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 5rem;
    padding-top: 30px;
    
}
.containers{
    padding: 80px;
    
}
.subtittle{
    text-align: center;
    font-size: 50px;
    color: darkorchid;

}
.subtittle span{
    color: blue;
}
.serviceslist{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(299px,1fr));
    grid-gap:45px;
    margin-top: 60px;
}
.serviceslist div{
    background-color: transparent;
    padding: 20px;
    border-right: 5px;
    font-size: 20px;
    font-weight: 15px;
    border-radius: 20px;
    transition: background 0.5s , transform 0.5s;
    box-shadow: 2px 3px 20px darkorchid;
    

}
.serviceslist div:hover{
    box-shadow: 0 0 15px darkmagenta, 0 0 15px darkmagenta, 0 0 15px darkmagenta;
    
}
.serviceslist div i{
    font-size: 40px;
    margin-bottom: 15px;
}
.serviceslist div h2{
    font-size: 33px;
    color: brown;
    text-transform: uppercase;
    margin-bottom: 10px;
    animation: slideTop 2s ease forwards;
}
@keyframes slideTop{
    0%{
        transform: translateX(-90px);
        opacity: 1;
    }
    100%{
        transform: translateX(0px);
        opacity: 1;
    }
}
.servieslist div p{
    font-size: 20px;
    
}
.serviceslist div a{
    text-decoration: none;
    font-size: 22px;
    margin-bottom:20px;
    display: inline-block;
}
.serviceslist  .learn{
        display: inline-block;
        padding: 10px 20px;
        background-color: darkorchid;
        border-radius: 30px;
        margin-top: 20px;
        font-weight: 600;
        opacity: 0;
        animation: slideTop 1s ease forwards;
        animation-delay: 1s;
        box-shadow: 0 0px 5px violet, 0 0px 25px violet;
    
        
}
.learn:hover{
    box-shadow: 0 0 15px darkmagenta, 0 0 15px darkmagenta, 0 0 15px darkmagenta;
    cursor: pointer;
}

.proskills{
    width: 650px;
    margin: 15px auto;
    padding: 18px;
    box-shadow: 0 14px 28px rgba(0,0,0,25), 0 10px 10px rgba(0,0,0,25);


}
.proskills:hover{
    box-shadow: 0 10px 15px darkmagenta, 0 10px 15px darkmagenta, 0 10px 15px darkmagenta;
}
.proskills h1{
    text-align: center;
    font-size: 45px;
    color:darkorchid;
}
h3{
    margin: 8px;
    font-size: 29px;
    color: darkmagenta;
}
.proskills ul{
    margin: 10px 0;
    padding: 10px;
}

.bars{
    display: block;
    background: blueviolet;
    height: 22px;
    border: 1px solid black;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(0.25,0.8,0.25,1);


}
.bars:hover{
    box-shadow: 0px 14px 28px rgba(0, 0, 0, 0.12),0 10px 10px rgba(0,0,0,0.22);
}
.bars span{
    height: 22px;
    float: left;
    background: linear-gradient(135deg, rgba(236,0,140,1)0%,rgba(252,103,103,1)100%);

}
.creativity{
    width: 85%;
    animation: html 3s;
}
.communicate{
    width: 90%;
    animation: html 3s;
}
.Problem{
    width: 80%;
    animation: html 3s;
}
.team{
    width: 85%;
    animation: html 3s;
}
.adapte{
    width: 90%;
    animation: html 3s;
}
.management{
    width: 80%;
    animation: html 3s;
}
@keyframes creativity{
    0%{
        width: 0;
    }
    100%{
        width: 85%;
    }
}
@keyframes communicate{
    0%{
        width: 0;
    }
    100%{
        width: 90%;
    }
}
@keyframes Problem{
    0%{
        width: 0;
    }
    100%{
        width: 80%;
    }
}
@keyframes team{
    0%{
        width: 0;
    }
    100%{
        width: 85%;
    }
}
@keyframes adapte{
    0%{
        width: 0;
    }
    100%{
        width: 90%;
    }
}
@keyframes management{
    0%{
        width: 0;
    }
    100%{
        width: 80%;
    }
}
.project{
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 10px;
    padding-top: 1px;
    
}
.procontent{
    padding: 70px;
}
.protittle{
    text-align: center;
    font-size: 50px;
    color: darkorchid;
    padding-bottom: 30px;
}
.projecthead{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(299px,1fr));
    grid-gap:70px;
    margin-top: 90px;
}
.projecthead div{
    padding:40px;
    font-size: 20px;
    border: 1px solid violet;
    box-shadow:0px 0px 5px 5px darkorchid;
    border-radius: 20px;
    border-right: 5px;
    transition: background 0.5s , transform 0.5s;
    
}
.projecthead div:hover{
    box-shadow: 5px 10px 15px darkmagenta, 5px 10px 15px darkmagenta, 5px 0px 15px darkmagenta;
}
.projecthead div img{
    margin-right: 20px;
}
.projecthead div h2{
    font-size: 35px;
    color:blue;
    margin-bottom: 20px;
}
.projecthead div i{
    font-size: 35px;
    padding: 5px;
}
.projecthead div .code{
    display: inline-block;
    background-color:darkorchid;
    border: 1px solid violet;
    text-decoration: none;
    padding: 12px 10px ;
    border-radius: 10px;
    margin-top: 16px;
    font-weight: 600;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: 1s;
    box-shadow: 0 0px 5px violet, 0 0px 25px violet;
    color: white;
    
}
@keyframes slideTop{
    0%{
        transform: translateX(-100px);
        opacity: 0;
    }
    100%{
        transform: translateX(0px);
        opacity: 1;
    }
}
.projecthead div .code:hover{
    box-shadow: 0 0px 5px darkmagenta, 0 0px 5px darkmagenta, 0 0px 5px darkmagenta;


}


.study {
    display: grid;
    grid-template-columns: 1fr; 
    gap: 20px;
    margin: 70px auto; 
    padding: 30px; 
    border: 2px solid darkorchid;
    box-shadow:0px 0px 5px 5px darkorchid;
    border-radius: 20px; 
    max-width: 800px; 
    background-color: gray;
    background-image: url(PHOTOS/coding6.avif);
    background-size: cover;
    background-position: auto;
    background-repeat: repeat;
}
.study:hover{
    box-shadow: 5px 10px 5px darkmagenta, 5px 10px 5px darkmagenta, 5px 10px 5px darkmagenta;
}


.study .learnedtext, .study .learnedpic {
    display: block; 
    width: 100%;
}


.learnedtext {
    font-size: 20px; 
    line-height: 1.6; 
    color:white;
    text-align: left;
    padding: 22px;
    
}


.learnedpic img {
    max-width: 100%; 
    height:280px;
    border-radius: 12px; 
    display: block;
    margin: 10px auto; 
    width: 95%;
}
.learnedtext h1{
    font-style: italic;
    color:red;
    font-weight: bolder;
    font-size: 38px;
    animation: slideTop 1s ease forwards;
}
@keyframes slideTop{
    0%{
        transform: translateX(-100px);
        opacity: 0;
    }
    100%{
        transform: translateX(0px);
        opacity: 1;
    }
}
.learnedtext p{
    font-size: 22px;
    font-style: italic;
}


@media (max-width: 768px) {
    .study {
        grid-template-columns: 1fr; 
        text-align: center;
    }

    .learnedtext {
        padding: 10px 20px;
    }

    .learnedpic img {
        margin: 0 auto; 
    }
}


.contactform{
    background:gray;
    padding: 40px 40px;
    border-radius: 8px;
    box-shadow:0px 0px 5px 5px darkorchid;
    width: 100%;
    max-width: 600px;
    margin-left: 480px;
    margin-top: 140px;
    background-image: url(PHOTOS/coding8.avif);
    background-size: cover;
    background-position: auto;
    background-repeat: repeat;
    
}
.contactform:hover{
    box-shadow: 5px 5px 10px darkmagenta, 5px 5px 10px darkmagenta, 5px 10px 10px darkmagenta;
}

h2 {
    text-align: center;
    margin-bottom: 5px;
    color: #333;
    font-size: 35px;

}

.form1-group {
    margin-bottom: 10px;
    padding: 10px;
    font-size: 24px;
    font-weight: bolder;
}
.form2-group {
    margin-bottom: 10px;
    padding: 10px;
    font-size: 24px;
    font-weight: bolder;
}
.form3-group {
    margin-bottom:10px;
    padding: 10px;
    font-size: 24px;
    font-weight: bolder;

}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
    color: #555;
    width: 300px;
    font-size: 25px;
    padding: 5px;
    font-weight: bolder;
}

input,
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    resize: none;
}

textarea {
    height: 100px;
}

button {
    background-color:darkorchid;
    color:white;
    padding: 15px 15px;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    width: 99%;
    box-shadow:0px 0px 5px 5px darkorchid;
    margin-bottom: 10px;
}

button:hover {
    box-shadow: 5px 0px 5px darkmagenta, 5px 0px 5px darkmagenta, 5px 0px 5px darkmagenta;
}

.final{
    margin-top: 200px;
    text-align: center;
    color: white;
    font-style: italic;
    font-weight: bolder;
    animation: slideBottom 2s ease forwards;
    margin-bottom: 80px;

}
@keyframes slideBottom {
    0%{
        transform: translateX(100px);
        opacity: 0;
    }
    100%{
        transform: translateX(0px);
        opacity: 1;
    }
}